WORKER_DATABASE_URL="postgresql://WORKER_USER:PASSWORD@HOST:5432/DATABASE?sslmode=require"
WORKER_OWNER_ID="local"
WORKER_ID="worker-vps-1"
WORKER_POLL_INTERVAL_MS="5000"
WORKER_LEASE_DURATION_MS="90000"
WORKER_HEARTBEAT_INTERVAL_MS="30000"
WORKER_MAX_ATTEMPTS="3"
WORKER_TEMP_ROOT="/tmp/ipe-worker"
WORKER_LOG_LEVEL="info"
WORKER_HEALTH_HOST="127.0.0.1"
WORKER_HEALTH_PORT="8080"
WORKER_R2_MAX_BYTES="536870912"
WORKER_SHUTDOWN_TIMEOUT_MS="30000"
WORKER_JANITOR_MAX_AGE_MS="21600000"
R2_ACCOUNT_ID=""
R2_BUCKET_NAME="insta-media"
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
